<div class="container">
    <div class="row">

        <div class="col-7">
            <h3 data-field="book.author"></h3>
            <h2><span class="loading-title">Loading...</span><span class="title" style="display:none"
                                                                   data-field="book.title"></span></h2>
            <h4><span class="loading-subtitle">Loading...</span><span class="subtitle" style="display:none"
                                                                      data-field="book.subtitle"></span></h4>
            <span data-field="book.description"></span>
            <div>
                <a class="back"><< back</a>
            </div>
        </div>
        <div class="col-3">
            <img data-field="book.image" src="" alt="book.title"/>
        </div>
    </div>
</div>